@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Fjalla+One&family=Geist+Mono:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background-color: #14073b;
}
   
.header1 {
    font-family:'Fjalla One';
    font-weight:bold;
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 1px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: bolder;
}

.navigation {
    overflow: hidden;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px 20px; 
}

.navigation-links {
    display: flex;
    gap: 60px;

}
.navigation-links a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px; 
    transition: all 0.5s ease; 
    font-family: 'Encode Sans Expanded';
    font-weight: bold;
}
  
.navigation a:hover {
    border-radius: 15px; 
    background-color: black;
    color: white;
}

.aboutme-image {
    position: relative;
    object-fit: cover; 
}

.aboutme-image img {
    position:relative; top: 0;left: 0;width: 100%;height: 100%;object-fit: cover; 
}

.dim-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); 
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 125px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Mono';
}

.mycontainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    font-family: 'Lato';
}

.left, .middle-left, .middle-right, .right {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left {
    background-color: lemonchiffon;
    color: black;
}

.middle-left {
    background-color: lemonchiffon;
    color: black;
}

.middle-right {
    background-color: lemonchiffon;
    color: black;
}

.right {
    background-color: lemonchiffon;
    color: black;
    justify-content: flex-start;
}

div.mycontainer2 {
    width:100%;
    overflow:auto;
    margin: 0;
    border-radius: 15px;
}

div.mycontainer2 .left2 {
    width: 25%;  
    float: left;
}

div.mycontainer2 .center2 {
    width: 50%;  
    float:left;
    border: 5px solid #56260b; 
    border-radius: 15px;
    box-sizing: border-box; 
}

div.mycontainer2 .right2 {
    width: 25%;  
    float: left;
}

table {
    font-family: 'Lato';
    justify-content: center;
}


footer {
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: #333333;
    color: white;
    font-size: 14px;
}
