@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Fjalla+One&family=Geist+Mono:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
}

h1 {
    text-align: center;
}
   
.header1 {
    font-family:'Fjalla One';
    font-weight:bold;
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 1px 0;
    text-align: center;
}

.navigation {
    overflow: hidden;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px 20px; 
}

.navigation-links {
    display: flex;
    gap: 60px;

}
.navigation-links a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px; 
    transition: all 0.5s ease; 
    font-family: 'Encode Sans Expanded';
    font-weight: bold;
}
  
.navigation a:hover {
    border-radius: 15px; 
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: #333333;
    color: white;
    font-size: 14px;
}
